numpy
pandas
scikit-learn
torch
torchtext
pgmpy
pomegranate
dash
plotly
ipykernel
jupyter
transformers #for Hugging Face Models
dash_bootstrap_components
python-dotenv

#fine-tuning:
datasets
evaluate
accelerate

#Bluesky:
atproto

#YELP:
yelpapi