numpy<2.0
pandas
scikit-learn
pgmpy
pomegranate
dash
plotly
ipykernel
jupyter
dash_bootstrap_components
python-dotenv

#fine-tuning:
evaluate
accelerate
sentencepiece

#Bluesky:
atproto

#YELP:
yelpapi

#Model Evaluation
seaborn
matplotlib